In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv("echo_test.csv")
df.head()

,Index,TEMPLATE_PLATE,TEMPLATE_WELL,TEMPLATE_VOLUME,PRIMER1_PLATE,PRIMER1_WELL,PRIMER1_VOLUME,PRIMER2_PLATE,PRIMER2_WELL,PRIMER2_VOLUME,...,PCR_MIX_WELL,PCR_MIX_VOLUME,OUTPUT_PLATE,OUTPUT_WELL,REACTION_NUMBER,OPTIMAL_ANNEALING_TEMP,THERMOCYCLER_BLOCK,THERMOCYCLER_ZONE,THERMOCYCLER_ZONE_ANNEALING_TEMP,EXPECTED_SIZE
0,1,templates_plate,B13,1,oligos_plate,O01,0.5,oligos_plate,P01,0.5,...,B01,3,assemblytoautomate_PCR_plate_1,A01,7,62.5,0,0,62.7,6567
1,2,templates_plate,B13,1,oligos_plate,C06,0.5,oligos_plate,D06,0.5,...,B01,3,assemblytoautomate_PCR_plate_1,B01,41,62.5,0,0,62.7,6567
2,3,templates_plate,B13,1,oligos_plate,I01,0.5,oligos_plate,J01,0.5,...,B01,3,assemblytoautomate_PCR_plate_1,C01,4,62.6,0,0,62.7,6567
3,4,templates_plate,B13,1,oligos_plate,E06,0.5,oligos_plate,F06,0.5,...,B01,3,assemblytoautomate_PCR_plate_1,D01,42,62.7,0,0,62.7,6567
4,5,templates_plate,B13,1,oligos_plate,K01,0.5,oligos_plate,L01,0.5,...,B01,3,assemblytoautomate_PCR_plate_1,E01,5,62.7,0,0,62.7,6567

In [3]:
df.columns

Index(['Index', 'TEMPLATE_PLATE', 'TEMPLATE_WELL', 'TEMPLATE_VOLUME',
       'PRIMER1_PLATE', 'PRIMER1_WELL', 'PRIMER1_VOLUME', 'PRIMER2_PLATE',
       'PRIMER2_WELL', 'PRIMER2_VOLUME', 'PCR_MIX_PLATE', 'PCR_MIX_WELL',
       'PCR_MIX_VOLUME', 'OUTPUT_PLATE', 'OUTPUT_WELL', 'REACTION_NUMBER',
       'OPTIMAL_ANNEALING_TEMP', 'THERMOCYCLER_BLOCK', 'THERMOCYCLER_ZONE',
       'THERMOCYCLER_ZONE_ANNEALING_TEMP', 'EXPECTED_SIZE'],
      dtype='object')

In [4]:
new_df = pd.DataFrame(df["OUTPUT_WELL"])
new_df["REACTION_NUMBER"] = df["REACTION_NUMBER"]
new_df['EXPECTED_SIZE'] = df['EXPECTED_SIZE']

nimbus_df = new_df.sort_values(['EXPECTED_SIZE'])
nimbus_df = nimbus_df.reset_index(drop=True)
nimbus_df.head()

  OUTPUT_WELL  REACTION_NUMBER  EXPECTED_SIZE
0         D05                1            230
1         D11               48            373
2         H01                2            832
3         B03               47            887
4         B11               45           1222

In [5]:
well_letter = ["A","B","C","D","E","F","G","H"]
well_number = ["01","02","03","04","05","06","07","08","09","10","11","12" ]
plate_96 = []
for let in well_letter:
    for num in well_number:
          well_id = let+num     
          plate_96.append(well_id)

In [6]:
plate_df = pd.DataFrame(plate_96)
plate_df["well_96"] = plate_96
plate_df.head()

     0 well_96
0  A01     A01
1  A02     A02
2  A03     A03
3  A04     A04
4  A05     A05

In [7]:
well_letter_384 = ["A","C","E","G","I","K","M","O"]

well_number_384 = ["01","03","05","07","09","11","13","15","17","19","21","23", ]
plate_384 = []
for let in well_letter_384:
    for num in well_number_384:
          well_id_384 = let+num     
          plate_384.append(well_id_384)
          


plate_df["well_384"]= plate_384
plate_df.head()

     0 well_96 well_384
0  A01     A01      A01
1  A02     A02      A03
2  A03     A03      A05
3  A04     A04      A07
4  A05     A05      A09

In [8]:
result_df = pd.concat([nimbus_df,plate_df['well_96'],plate_df["well_384"]], axis=1)
result_df.head()

  OUTPUT_WELL  REACTION_NUMBER  EXPECTED_SIZE well_96 well_384
0         D05              1.0          230.0     A01      A01
1         D11             48.0          373.0     A02      A03
2         H01              2.0          832.0     A03      A05
3         B03             47.0          887.0     A04      A07
4         B11             45.0         1222.0     A05      A09

In [9]:
result_df.columns

Index(['OUTPUT_WELL', 'REACTION_NUMBER', 'EXPECTED_SIZE', 'well_96',
       'well_384'],
      dtype='object')

In [15]:
result_df = result_df.dropna(axis=0, how='any')
result_df

   OUTPUT_WELL  REACTION_NUMBER  EXPECTED_SIZE well_96 well_384
0          D05              1.0          230.0     A01      A01
1          D11             48.0          373.0     A02      A03
2          H01              2.0          832.0     A03      A05
3          B03             47.0          887.0     A04      A07
4          B11             45.0         1222.0     A05      A09
5          E11             44.0         1342.0     A06      A11
6          C08             49.0         2037.0     A07      A13
7          B08             46.0         2067.0     A08      A15
8          C07              0.0         2104.0     A09      A17
9          A02             43.0         3621.0     A10      A19
10         C11             37.0         6567.0     A11      A21
11         A07             25.0         6567.0     A12      A23
12         A11             10.0         6567.0     B01      C01
13         B07              8.0         6567.0     B02      C03
14         D07             40.0         6567.0     B03      C05
15         E07             11.0         6567.0     B04      C07
16         B09             13.0         6567.0     B05      C09
17         F07             35.0         6567.0     B06      C11
18         H07             15.0         6567.0     B07      C13
19         A08             38.0         6567.0     B08      C15
20         B06             39.0         6567.0     B09      C17
21         D09             12.0         6567.0     B10      C19
22         D08              9.0         6567.0     B11      C21
23         C09             14.0         6567.0     B12      C23
24         A09             21.0         6567.0     C01      E01
25         G07             16.0         6567.0     C02      E03
26         A06             18.0         6567.0     C03      E05
27         A01              7.0         6567.0     C04      E07
28         G05             26.0         6567.0     C05      E09
29         B01             41.0         6567.0     C06      E11
30         C01              4.0         6567.0     C07      E13
31         D01             42.0         6567.0     C08      E15
32         E01              5.0         6567.0     C09      E17
33         F01             30.0         6567.0     C10      E19
34         G01             36.0         6567.0     C11      E21
35         A03             34.0         6567.0     C12      E23
36         C03             22.0         6567.0     D01      G01
37         D03              3.0         6567.0     D02      G03
38         E03              6.0         6567.0     D03      G05
39         F03             31.0         6567.0     D04      G07
40         G03             32.0         6567.0     D05      G09
41         H03             29.0         6567.0     D06      G11
42         A04             33.0         6567.0     D07      G13
43         B04             19.0         6567.0     D08      G15
44         A05             20.0         6567.0     D09      G17
45         B05             23.0         6567.0     D10      G19
46         C05             17.0         6567.0     D11      G21
47         E05             24.0         6567.0     D12      G23
48         H05             28.0         6567.0     E01      I01
49         F05             27.0         6567.0     E02      I03

In [18]:
result_df.to_csv("new_output.csv")

In [19]:
ls

05142018.ipynb                     echo_test.csv
Assembly_Reactions_20180509.ipynb  new_output
assembly_reactions.csv             new_output.csv
dict.csv                           output.csv