In [1]:
import csv
import pandas as pd

"""TO DO 
create a list of files in the same directory

create df from each one and merge the df's 

Just keep Well and RFU values 

Calculate the min in Rfu column in merged df

calculate transfer volume 

group volumes ones the sum is around 20 ul 

and assign that to a destination well 

Create Echo instructions """

Needs plate number for downstream process.

In [2]:
import glob
list_of_rfu_file = glob.glob("*.xlsx")
list_of_rfu_file

['admin_2018-07-09 12-40-24_CT022844 -  End Point Results.xlsx',
 'NK_QPCR__2017-12-11 11-00-52_CT022844 -  End Point Results.xlsx']

In [3]:
all_data = pd.DataFrame()
for f in list_of_rfu_file:
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)
all_data.tail()

,Source Plate,Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control
763,plate_1,P20,SYBR,NaN,Unkn,NaN,0.274790,NaN,Unknown,Unassigned,False
764,plate_1,P21,SYBR,NaN,Unkn,NaN,-0.313762,NaN,Unknown,Unassigned,False
765,plate_1,P22,SYBR,NaN,Unkn,NaN,-0.164492,NaN,Unknown,Unassigned,False
766,plate_1,P23,SYBR,NaN,Unkn,NaN,-0.278515,NaN,Unknown,Unassigned,False
767,plate_1,P24,SYBR,NaN,Unkn,NaN,0.104177,NaN,Unknown,Unassigned,False

In [4]:
max_rfu = all_data["End RFU"].max()
max_rfu

2085.14963474436

In [5]:
all_data = all_data.loc[all_data["End RFU"] > 10 ]

In [6]:
min_rfu = all_data["End RFU"].min()
min_rfu

17.9243653620531

# C1*V1 = C2*V2

In [7]:
all_data["Transfer Volume"] = (min_rfu*2000)/all_data["End RFU"]
all_data.tail()

,Source Plate,Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,473.824676
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25.311147
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33.144117
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,71.936605
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,22.629764

In [8]:
all_data["Transfer Volume"] = all_data["Transfer Volume"].apply(lambda x: 25 if x<25 else x)
all_data.tail()

,Source Plate,Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,473.824676
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25.311147
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33.144117
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,71.936605
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25.000000

In [9]:
all_data["Transfer Volume"] = all_data["Transfer Volume"].round()
all_data.tail()

,Source Plate,Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474.0
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25.0
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33.0
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72.0
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25.0

In [10]:
type(all_data["Transfer Volume"][1])

numpy.float64

In [11]:
all_data["Transfer Volume"] = all_data["Transfer Volume"].astype(int)
all_data.tail()

,Source Plate,Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25

In [12]:
all_data.rename(columns={"Well": "Source Well"}, inplace=True)
all_data.tail()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25

In [13]:
all_data["transfer_cumsum"] = all_data["Transfer Volume"].cumsum()
all_data.tail()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume,transfer_cumsum
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474,37084
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25,37109
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33,37142
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72,37214
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25,37239

In [14]:
all_data["bin_number"] = (all_data["transfer_cumsum"]//15000)+1
all_data.tail()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume,transfer_cumsum,bin_number
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474,37084,3
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25,37109,3
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33,37142,3
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72,37214,3
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25,37239,3

In [15]:

# all_data['Destination Well'] = all_data[['transfer_cumsum']].apply(lambda x: 'A'.join(x), axis=1)

In [16]:
all_data["Dest"] = "A"

In [17]:
all_data.tail()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume,transfer_cumsum,bin_number,Dest
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474,37084,3,A
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25,37109,3,A
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33,37142,3,A
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72,37214,3,A
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25,37239,3,A

In [18]:
all_data["bin_number"] = all_data["bin_number"].astype(str)
all_data.tail()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume,transfer_cumsum,bin_number,Dest
754,plate_1,P11,SYBR,NaN,Unkn,NaN,75.658218,NaN,Unknown,Unassigned,False,474,37084,3,A
755,plate_1,P12,SYBR,NaN,Unkn,NaN,1416.321866,NaN,Unknown,Unassigned,False,25,37109,3,A
756,plate_1,P13,SYBR,NaN,Unkn,NaN,1081.601628,NaN,Unknown,Unassigned,False,33,37142,3,A
757,plate_1,P14,SYBR,NaN,Unkn,NaN,498.337816,NaN,Unknown,Unassigned,False,72,37214,3,A
758,plate_1,P15,SYBR,NaN,Unkn,NaN,1584.140719,NaN,Unknown,Unassigned,False,25,37239,3,A

In [19]:
all_data['Destination Well'] = all_data[["Dest","bin_number"]].apply(lambda x: ''.join(x), axis=1)
all_data.head()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume,transfer_cumsum,bin_number,Dest,Destination Well
0,plate_2,A01,SYBR,NaN,Unkn,NaN,1211.250994,NaN,Unknown,Unassigned,False,30,30,1,A,A1
1,plate_2,A02,SYBR,NaN,Unkn,NaN,1382.041793,NaN,Unknown,Unassigned,False,26,56,1,A,A1
2,plate_2,A03,SYBR,NaN,Unkn,NaN,1237.540268,NaN,Unknown,Unassigned,False,29,85,1,A,A1
3,plate_2,A04,SYBR,NaN,Unkn,NaN,1047.326192,NaN,Unknown,Unassigned,False,34,119,1,A,A1
4,plate_2,A05,SYBR,NaN,Unkn,NaN,1285.856494,NaN,Unknown,Unassigned,False,28,147,1,A,A1

# GENERATE ECHO POOLING INSTRUCTIONS

In [20]:
all_data['sort'] = all_data['Source Plate'].str.extract('(\d+)', expand=False).astype(int)
all_data.sort_values('sort',inplace=True, ascending=True)
all_data = all_data.drop('sort', axis=1)
all_data.tail()

,Source Plate,Source Well,Fluor,Target,Content,Sample,End RFU,Call,Sample Type,CallType,Is Control,Transfer Volume,transfer_cumsum,bin_number,Dest,Destination Well
208,plate_2,I17,SYBR,NaN,Unkn,NaN,1270.462035,NaN,Unknown,Unassigned,False,28,7871,1,A,A1
209,plate_2,I18,SYBR,NaN,Unkn,NaN,1190.540709,NaN,Unknown,Unassigned,False,30,7901,1,A,A1
210,plate_2,I19,SYBR,NaN,Unkn,NaN,1534.805085,NaN,Unknown,Unassigned,False,25,7926,1,A,A1
203,plate_2,I12,SYBR,NaN,Unkn,NaN,1070.600085,NaN,Unknown,Unassigned,False,33,7718,1,A,A1
310,plate_2,M23,SYBR,NaN,Unkn,NaN,1285.717530,NaN,Unknown,Unassigned,False,28,11071,1,A,A1

In [21]:
all_data.columns

Index(['Source Plate', 'Source Well', 'Fluor', 'Target', 'Content', 'Sample',
       'End RFU', 'Call', 'Sample Type', 'CallType', 'Is Control',
       'Transfer Volume', 'transfer_cumsum', 'bin_number', 'Dest',
       'Destination Well'],
      dtype='object')

In [22]:
header = ['Source Plate', 'Source Well','Destination Well',
       'Transfer Volume', 
       ]

all_data.to_csv("Echo_pooling.csv", columns = header)